<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/app.css" />
    <link rel="icon" href="~/img/basic/favicon.ico" type="image/x-icon" />

    <script src="https://maps.googleapis.com/maps/api/js?&key=AIzaSyC3YkZNNySdyR87o83QEHWglHfHD_PZqiw&libraries=places"></script>
    <script src="~/js/app.js"></script>
</head>
<body class="sidebar-mini sidebar-collapse theme-dark sidebar-expanded-on-hover">
    <aside class="main-sidebar fixed offcanvas shadow"
           data-toggle="offcanvas">
    <div class="sidebar">
          <ul class="sidebar-menu">
            <li>
              <a class="ajaxifyPage active" href="Index">
                <i class="icon icon-home-1 s-24"></i> <span>Home</span>
              </a>
            </li>
            <li>
              <a class="ajaxifyPage" href="categories.html">
                <i class="icon icon-layers-1 s-24"></i> <span>Categories</span>
              </a>
            </li>

            <li></li>
            <li>
              <a class="ajaxifyPage" href="albums.html">
                <i class="icon icon-windows s-24"></i> <span>Albums</span>
              </a>
            </li>

            <li></li>
            <li>
              <a class="ajaxifyPage" href="videos.html">
                <i class="icon icon-video-player-2 s-24"></i>
                <span>Videos</span>
              </a>
            </li>
            <li>
              <a class="ajaxifyPage" href="events.html">
                <i class="icon icon-calendar-6 s-24"></i> <span>Events</span>
              </a>
            </li>

            <li>
              <a class="ajaxifyPage" href="gallery.html">
                <i class="icon icon-photo-camera-1 s-24"></i>
                <span>Gallery</span>
              </a>
            </li>
            <li>
              <a class="ajaxifyPage" href="blog.html">
                <i class="icon icon-newspaper s-24"></i> <span>Blog</span>
              </a>
            </li>

            <li>
              <a class="ajaxifyPage" href="artists.html">
                <i class="icon icon-users s-24"></i> <span>Artists</span>
              </a>
            </li>
            <li class="menu-item-has-children">
              <a href="#">
                <i class="icon icon-menu-4 s-24"></i> <span>Pages</span>
                <i class="icon-angle-left pull-right"></i>
              </a>
              <ul class="sub-menu">
                <li>
                  <a href="page-blank.html"
                    ><i class="icon icon-document"></i>Simple Blank</a
                  >
                </li>
                <li>
                  <a href="page-blank-tabs.html"
                    ><i class="icon icon-document"></i>Tabs Blank</a
                  >
                </li>
                <li>
                  <a href="login.html"
                    ><i class="icon icon-document"></i>Login Page</a
                  >
                </li>
                <li>
                  <a href="404.html"
                    ><i class="icon icon-document"></i>404 Page</a
                  >
                </li>
                <li>
                  <a href="profile.html"
                    ><i class="icon icon-document"></i>Profile</a
                  >
                </li>
              </ul>
            </li>
            <li class="menu-item-has-children">
              <a href="#">
                <i class="icon icon-add-3 s-24"></i> <span>Elements</span>
                <i class="icon-angle-left pull-right"></i>
              </a>
              <ul class="sub-menu">
                <li>
                  <a href="element-widgets.html">
                    <i class="icon icon-app text-primary s-14"></i>
                    <span>Widgets</span>
                  </a>
                </li>
                <li>
                  <a href="element-typography.html">
                    <i class="icon icon-text-width text-primary s-14"></i>
                    <span>Typography</span>
                  </a>
                </li>
                <li>
                  <a href="element-slider.html"
                    ><i class="icon icon-sliders text-primary s-14"></i>
                    <span>Slider</span></a
                  >
                </li>
                <li>
                  <a href="element-tabs.html"
                    ><i class="icon icon-folder text-primary s-14"></i>
                    <span>Tabs</span></a
                  >
                </li>
                <li>
                  <a href="element-progress-bars.html"
                    ><i class="icon icon-battery-5 text-primary s-14"></i>
                    <span>Progress Bars</span></a
                  >
                </li>

                <li>
                  <a href="element-preloaders.html"
                    ><i class="icon icon-attachment text-primary s-14"></i>
                    <span>Preloaders</span></a
                  >
                </li>
                <li>
                  <a href="element-letters.html">
                    <i class="icon icon-user-1 text-primary s-14"></i>
                    <span>Avatar Placeholders</span>
                  </a>
                </li>
                <li>
                  <a href="element-icons.html">
                    <i class="icon icon-archive-3 text-primary s-14"></i>
                    <span>Icons</span>
                  </a>
                </li>
                <li class="mb-5">
                  <a href="element-colors.html">
                    <i class="icon icon-view-1 text-primary s-14"></i>
                    <span>Colors</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </aside>
    <nav class="navbar-wrapper navbar-bottom-fixed shadow">
        <div class="navbar navbar-expand player-header justify-content-between bd-navbar">
            <div class="d-flex align-items-center">
                <a href="#"
                   data-toggle="push-menu"
                   class="paper-nav-toggle pp-nav-toggle paper-nav-toggle-sidenav ml-2 mr-2">
                    <i></i>
                </a>
                <a class="navbar-brand d-none d-lg-block" href="index.html">
                    <div class="d-flex align-items-center s-14 l-s-2">
                        <span>RECORD</span>
                    </div>
                </a>
            </div>
            <!--Player-->
            <div id="mediaPlayer"
                 class="player-bar col-lg-8 col-md-5"
                 data-auto="true">
                <div class="row align-items-center grid">
                    <div class="col">
                        <div class="d-flex align-items-center">
                            <button id="previousTrack"
                                    class="btn btn-link d-none d-sm-block">
                                <i class="icon-back s-18"></i>
                            </button>
                            <button class="btn btn-link" id="playPause">
                                <span id="play"><i class="icon-play s-36"></i></span>
                                <span id="pause" style="display: none">
                                    <i class="icon-pause s-36 text-primary"></i>
                                </span>
                            </button>
                            <button id="nextTrack" class="btn btn-link d-none d-sm-block">
                                <i class="icon-next s-18"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-8 d-none d-lg-block">
                        <div id="waveform"></div>
                    </div>
                    <div class="col d-none d-lg-block">
                        <small class="track-time mr-2 text-primary align-middle"></small>
                        <a data-toggle="control-sidebar">
                            <i class="icon icon-menu-3 s-24 align-middle"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="searchOverlay-wrap">
                        <a href="#"
                           id="btn-searchOverlay"
                           class="nav-link mr-3 btn--searchOverlay no-ajaxy">
                            <i class="icon icon-search s-24"></i>
                        </a>
                    </li>
                    <li class="dropup custom-dropdown user user-menu">
                        <a href="#" class="nav-link" data-toggle="dropdown">
                            <figure class="avatar">
                                <img src="~/img/demo/u7.png" alt="" />
                            </figure>
                            <i class="icon-more_vert"></i>
                        </a>
                        <div class="dropdown-menu p-4 dropdown-menu-right">
                            <div class="row box justify-content-between my-4">
                                <div class="col text-center">
                                    <a class="ajaxifyPage" href="saved.html">
                                        <i class="icon icon-save s-24"></i> <span>Saved</span>
                                    </a>
                                </div>
                                <div class="col text-center">
                                    <a class="ajaxifyPage" href="saved.html">
                                        <i class="icon icon-heart s-24"></i>
                                        <span>Favourites</span>
                                    </a>
                                </div>
                                <div class="col text-center">
                                    <a class="ajaxifyPage" href="profile.html">
                                        <i class="icon-user-4 s-24"></i>
                                        <div class="pt-1">Profile</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main id="pageContent" class="page has-sidebar">
            @RenderBody()
    </main>
</body>
</html>