@page
@model RazorPagesProject.Pages.ItemTemplates.TrackIslandModel
@{
   
}
    <div class="lslide active" style="width: 137.8px; margin-right: 10px;">
        <figure>
            <div class="img-wrapper">
                <img src="~/img/demo/a8.jpg" alt="/">
                <div class="img-overlay text-white">
                    <div class="figcaption">
                        <ul class="list-inline d-flex align-items-center justify-content-between">
                            <li class="list-inline-item">
                                <a href="#" class="snackbar" data-text="Added to favourites" data-pos="top-right" data-showaction="true" data-actiontext="ok" data-actiontextcolor="#fff" data-backgroundcolor="#0c101b">
                                    <i class="icon-heart-o s-18"></i>
                                </a>
                            </li>
                            <li class="list-inline-item ">
                                <a class="no-ajaxy media-url active" href="/media/track2.mp3" data-wave="~/media/track2.json">
                                    <i class="icon-play s-48"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="album-single.html">
                                    <i class="icon-more s-18 pt-3"></i>
                                </a>
                            </li>
                        </ul>
                        <div class="text-center mt-5">
                            <h5>@ViewData["trackname"]</h5>
                            <span>@ViewData["artist"]</span>
                        </div>
                    </div>
                </div>
                <div class="figure-title text-center p-2">
                    <h5>To Phir Ao</h5>
                    <span>Joe Doe</span>
                </div>
            </div>
        </figure>
    </div>